.aboutMeSection {
    margin-top: 50px;
    transform: translateY(70px);
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    padding: 50px 20px;
    @media (min-width: $bp-1) {
        padding: 0 250px;
        margin-top: 200px;
    }
    &.appear {
        transform: translateY(0);
        opacity: 1;
        transition: opacity 1s ease, transform 1s ease;
    }
    h2 {
        font-family: $sansserif;
        margin-bottom: 20px;
        
    }
}
