* {
    margin: 0;
    padding: 0;
    border-width: 0;
    outline: none;
    font-family: $monospace;
    &::selection{
        background-color: $orange1;
    }
}

body {
    background-color: #f8f7f7;
    background-image: $urlFondoBody;
    animation: 10s linear 0s normal none infinite animate;
    overflow: hidden;

}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

#canvas {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $blue;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    .loadIcon {
        width: 100px;
        height: 100px;
    }
}
