* {
    margin: 0;
    padding: 0;
    border-width: 0;
    outline: none;
    font-family: $monospace;
}

body {
    background-color: #ffffff;
    background-image: $urlFondoBody;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

#canvas {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.loader {
    position: fixed;
    background-color: $blue;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    .loadIcon {
        width: 100px;
        height: 100px;
    }
}
