header {
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: #040330;
    background-image: $urlFondo;
    .socialMedia{
        height: 40px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        i{
            color: #fff;
            font-size: 16px;
            &:hover{
                color: $skyblue;
            }
        }

    }
    nav {
        ul {
            display: flex;
            li {
                width: 90px;
                height: 40px;
                margin: 0 10px;
                line-height: 35px;
                position: relative;
                cursor: pointer;
                a {
                    color: #fff;
                }
                &:after {
                    content: "";
                    width: 0;
                    height: 3px;
                    display: block;
                    transition: all 0.5s ease;
                }
                &:hover {
                    &:after {
                        width: 100%;
                        transition: width 0.5s ease;
                        background-color: $orange1;
                    }
                }
            }
        }
    }
}
