.portadaSection {
    position: relative;
    height: calc(100vh - 50px);
    font-family: $monospace;
    color: #fff;
    @media (min-width: $bp-1) {
        height: calc(100vh - 60px);
    }

    > img {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }
    .infoArea {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 2;
        justify-content: center;
        overflow: hidden;
        @media (min-width: $bp-1) {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: inherit;
            overflow: inherit;
        }
        img {
            width: 85%;
            clip-path: circle(50% at 50% 50%);
            display: block;
            object-fit: cover;
            align-self: center;
            position: absolute;
            right: -60px;
            top: 25px;
            z-index: -1;
            @media (min-width: $bp-1) {
                width: 500px;
                margin-bottom: 10px;
                position: inherit;
                left: 150px;
                top: inherit;
            }
        }
        .textArea {
            margin-top: 160px;
            justify-self: flex-start;
            border-left: 3px solid $skyblue;
            margin-left: 15px;
            padding: 10px 20px;

            @media (min-width: $bp-1) {
                padding: 10px 20px 20px;
                position: relative;
                height: fit-content;
                margin: 120px 0 0 100px;
            }
            .myName {
                margin: 10px 0;
                font-size: 1.6em;
                @media (min-width: $bp-1) {
                    font-size: 4em;
                }
            }
            .helloSpan {
                font-size: 1.3em;
                @media (min-width: $bp-1) {
                    font-size: 3em;
                }
            }
            .descSpan {
                font-size: 1.1em;
                @media (min-width: $bp-1) {
                    font-size: 1.3em;
                }
            }
            > div {
                p {
                    white-space: nowrap;
                    overflow: hidden;
                    animation: type 2s steps(20, end) forwards;
                    width: 0;
                }
                p:nth-child(2) {
                    animation: type2 2s 2s steps(30, end) forwards;
                }
                p:nth-child(3) {
                    animation: type2 3.5s 4s steps(40, end) forwards;
                }
                span {
                    animation: blink 1s infinite;
                }
            }
            .aboutMe {
                display: none;
                width: 600px;
                font-family: $sansserif;
                @media (min-width: 768px) {
                    display: block;
                    position: absolute;
                    border-left: 3px solid $skyblue;
                    padding: 10px 20px;
                    bottom: -80%;
                    left: 200px;
                }
            }
        }
    }
    .socialMedia {
        display: flex;
        flex-direction: column;
        height: 80px;
        width: 40px;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        position: absolute;
        top: 125px;
        left: 20px;
        z-index: 2;
        @media (min-width: $bp-1) {
            height: 150px;
            justify-content: space-evenly;
            top: calc(50% - 75px);
            left: 60px;
        }
        i {
            color: #fff;
            font-size: 16px;
            &:hover {
                color: $skyblue;
            }
            @media (min-width: $bp-1) {
                font-size: 20px;
            }
        }
    }
    .scrollDown {
        position: absolute;
        color: #fff;
        bottom: 100px;
        left: calc(50% - 58px);
        animation: updown 2s alternate-reverse ease-in-out infinite;
        z-index: 2;
        cursor: pointer;
        @media (min-width: $bp-1) {
            left: inherit;
            right: 80px;
            bottom: 100px;
        }
        span {
            font-family: $sansserif;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            @media (min-width: $bp-1) {
                font-size: 20px;
            }
        }
    }
}
