.portadaSection {
    position: relative;
    background-color: #040330;
    background-image: $urlFondo;
    height: 80vh;
    font-family: $monospace;
    color: #fff;
    -webkit-animation: 10s linear 0s normal none infinite animate;
    -moz-animation: 10s linear 0s normal none infinite animate;
    -ms-animation: 10s linear 0s normal none infinite animate;
    -o-animation: 10s linear 0s normal none infinite animate;
    animation: 10s linear 0s normal none infinite animate;
    > img {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }
    .infoArea {
        width: 100%;
        position: absolute;
        display: grid;
        grid-template-columns: 600px 1fr;
        justify-items: center;
        align-items: center;
        z-index: 2;
        top: 25%;
        img {
            width: 300px;
            clip-path: circle(50% at 50% 50%);
            display: block;
            object-fit: cover;
            margin-bottom: 10px;
        }
        .textArea {
            justify-self: flex-start;
            .myName {
                margin: 0 0 10px 0;
                font-size: 4em;
            }
            .helloSpan {
                font-size: 3em;
            }
            .descSpan {
                font-size: 1.3em;
            }
            p {
                white-space: nowrap;
                overflow: hidden;
                animation: type 2s steps(20, end) forwards;
                width: 0;
            }
            p:nth-child(2) {
                animation: type2 2s 2s steps(30, end) forwards;
            }
            p:nth-child(3) {
                animation: type2 3.5s 4s steps(40, end) forwards;
            }
            span {
                animation: blink 1s infinite;
            }
        }
    }
    .scrollDown {
        position: absolute;
        color: $blue;
        bottom: -50px;
        left: 45%;
        animation: updown 2s alternate-reverse ease-in-out infinite;
        z-index: 2;
        cursor: pointer;
        span {
            font-family: $sansserif;
        }
    }
}
