.portadaSection {
    position: relative;
    background-color: #040330;
    background-image: $urlFondo;
    height: calc(100vh - 40px);
    font-family: $monospace;
    color: #fff;
    -webkit-animation: 10s linear 0s normal none infinite animate;
    -moz-animation: 10s linear 0s normal none infinite animate;
    -ms-animation: 10s linear 0s normal none infinite animate;
    -o-animation: 10s linear 0s normal none infinite animate;
    animation: 10s linear 0s normal none infinite animate;
    @media (min-width: $bp-1) {
    }

    > img {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }
    .infoArea {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 2;
        justify-content: center;
        overflow: hidden;

        // top: 30px;
        @media (min-width: $bp-1) {
            height: auto;
            display: grid;
            grid-template-columns: 600px 1fr;
            top: 15%;
            justify-items: center;
            align-items: center;
        }
        img {
            width: 85%;
            clip-path: circle(50% at 50% 50%);
            display: block;
            object-fit: cover;
            align-self: center;
            position: absolute;
            right: -60px;
            top: 25px;
            @media (min-width: $bp-1) {
                width: 500px;
                margin-bottom: 10px;
            }
        }
        .textArea {
            margin-top: 160px;
            justify-self: flex-start;
            border-left: 3px solid $skyblue;
            margin-left: 15px;
            padding: 10px 20px;

            @media (min-width: $bp-1) {
                padding: 0;
            }
            .myName {
                margin: 10px 0;
                font-size: 1.6em;
                @media (min-width: $bp-1) {
                    font-size: 4em;
                }
            }
            .helloSpan {
                font-size: 1.3em;
                @media (min-width: $bp-1) {
                    font-size: 3em;
                }
            }
            .descSpan {
                font-size: 1.1em;
                @media (min-width: $bp-1) {
                    font-size: 1.3em;
                }
            }
            > div {
                p {
                    white-space: nowrap;
                    overflow: hidden;
                    animation: type 2s steps(20, end) forwards;
                    width: 0;
                }
                p:nth-child(2) {
                    animation: type2 2s 2s steps(30, end) forwards;
                }
                p:nth-child(3) {
                    animation: type2 3.5s 4s steps(40, end) forwards;
                }
                span {
                    animation: blink 1s infinite;
                }
            }
            .aboutMe {
                display: none;
                width: 800px;
                margin-top: 50px;
                font-family: $sansserif;
                white-space: inherit;
                overflow: initial;
                opacity: 0;
                color: $orange1;
                text-shadow: 0 0 5px #fff;
                animation: appear 0.5s 6s forwards;
            }
        }
    }
    .socialMedia {
        display: flex;
        flex-direction: column;
        height: 80px;
        width: 40px;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        position: absolute;
        top: 125px;
        left: 20px;
        @media (min-width: $bp-1) {
            width: 150px;
            justify-content: space-evenly;
        }
        i {
            color: #fff;
            font-size: 16px;
            &:hover {
                color: $skyblue;
            }
        }
    }
    .scrollDown {
        position: absolute;
        color: #fff;
        bottom: 100px;
        left: calc(50% - 58px);
        animation: updown 2s alternate-reverse ease-in-out infinite;
        z-index: 2;
        cursor: pointer;
        span {
            font-family: $sansserif;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}
