.skillsSection{
    margin: 20px 0;
    width: 100%;
    padding: 50px;
    background-color: $orange1;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    @media (min-width: $bp-1) {
        padding: 50px 250px;
        margin-top: 150px;

    }

}