@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap");
/*Breakpoints*/
@keyframes updown {
  0% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(8px);
  }
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 500px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shine {
  from {
    background-color: #fff;
  }
  to {
    background-color: #ff8062;
  }
}

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  outline: none;
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}

*::selection {
  background-color: #ff8062;
}

body {
  background-color: #040330;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%2317164d' fill-opacity='1' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  animation: 10s linear 0s normal none infinite animate;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

#canvas {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #040330;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}

.loader .loadIcon {
  width: 100px;
  height: 100px;
}

.sq-o1 {
  width: 120px;
  height: 120px;
  background-color: #ff8062;
}

.sq-s1 {
  width: 100px;
  height: 100px;
  background-color: #5bcef2;
}

.sq-o2 {
  width: 50px;
  height: 50px;
  background-color: #f1b170;
}

.sq-b1 {
  width: 70px;
  height: 70px;
  background-color: #040330;
}

.sq-w1 {
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.empty {
  background-color: #ff8062;
}

.alert {
  text-align: center;
  margin: -10px 0 20px;
  color: #ff8062;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
  z-index: 1000;
  height: 50px;
  transition: background-color 0.5s ease;
}

header.onScroll {
  background-color: #040330;
  transition: background-color 0.5s ease;
}

header h1 a {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
}

header .burguerMenu {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  header .burguerMenu {
    display: none;
  }
}

header .burguerMenu span {
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: all 0.25s ease;
}

header .menuActive {
  position: relative;
}

@media (min-width: 768px) {
  header .menuActive {
    display: none;
  }
}

header .menuActive span {
  position: absolute;
  transition: all 0.5s ease;
}

header .menuActive span:first-child {
  transform: rotate(45deg);
}

header .menuActive span:last-child {
  transform: rotate(-45deg);
}

header .menuActive span:nth-child(2) {
  display: none;
}

header .menuActive ~ nav {
  height: calc(100vh - 40px);
  width: 45%;
  transition: width 0.5s ease;
}

header nav {
  height: calc(100vh - 40px);
  width: 0;
  overflow: hidden;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  transition: width 0.5s ease;
  box-shadow: 0 0 5px #999;
}

@media (min-width: 768px) {
  header nav {
    height: 40px;
    position: inherit;
    background-color: transparent;
    overflow: initial;
    width: auto;
  }
}

header nav ul {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  header nav ul {
    flex-direction: row;
  }
}

header nav ul li {
  width: 100%;
  height: 40px;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
}

@media (min-width: 768px) {
  header nav ul li {
    width: 90px;
    margin: 0 10px;
    line-height: 35px;
  }
}

header nav ul li a {
  color: #040330;
  width: 100%;
  height: 100%;
  line-height: 40px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  header nav ul li a {
    color: #fff;
    line-height: 0;
    padding: 0;
  }
}

header nav ul li a i {
  color: #5bcef2;
  margin-right: 10px;
}

header nav ul li:after {
  content: "";
  width: 0;
  height: 3px;
  display: block;
  transition: all 0.5s ease;
}

@media (min-width: 768px) {
  header nav ul li:hover:after {
    width: 100%;
    transition: width 0.5s ease;
    background-color: #ff8062;
  }
}

header nav ul li:active {
  background-color: #f1b170;
}

.portadaSection {
  position: relative;
  height: calc(100vh - 50px);
  font-family: "Roboto Mono", monospace;
  color: #fff;
}

.portadaSection > img {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.portadaSection .infoArea {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2;
  justify-content: center;
  overflow: hidden;
}

@media (min-width: 768px) {
  .portadaSection .infoArea {
    height: auto;
    display: grid;
    grid-template-columns: 600px 1fr;
    top: 15%;
    justify-items: center;
    align-items: center;
  }
}

.portadaSection .infoArea img {
  width: 85%;
  clip-path: circle(50% at 50% 50%);
  display: block;
  object-fit: cover;
  align-self: center;
  position: absolute;
  right: -60px;
  top: 25px;
}

@media (min-width: 768px) {
  .portadaSection .infoArea img {
    width: 500px;
    margin-bottom: 10px;
  }
}

.portadaSection .infoArea .textArea {
  margin-top: 160px;
  justify-self: flex-start;
  border-left: 3px solid #5bcef2;
  margin-left: 15px;
  padding: 10px 20px;
}

@media (min-width: 768px) {
  .portadaSection .infoArea .textArea {
    padding: 0;
  }
}

.portadaSection .infoArea .textArea .myName {
  margin: 10px 0;
  font-size: 1.6em;
}

@media (min-width: 768px) {
  .portadaSection .infoArea .textArea .myName {
    font-size: 4em;
  }
}

.portadaSection .infoArea .textArea .helloSpan {
  font-size: 1.3em;
}

@media (min-width: 768px) {
  .portadaSection .infoArea .textArea .helloSpan {
    font-size: 3em;
  }
}

.portadaSection .infoArea .textArea .descSpan {
  font-size: 1.1em;
}

@media (min-width: 768px) {
  .portadaSection .infoArea .textArea .descSpan {
    font-size: 1.3em;
  }
}

.portadaSection .infoArea .textArea > div p {
  white-space: nowrap;
  overflow: hidden;
  animation: type 2s steps(20, end) forwards;
  width: 0;
}

.portadaSection .infoArea .textArea > div p:nth-child(2) {
  animation: type2 2s 2s steps(30, end) forwards;
}

.portadaSection .infoArea .textArea > div p:nth-child(3) {
  animation: type2 3.5s 4s steps(40, end) forwards;
}

.portadaSection .infoArea .textArea > div span {
  animation: blink 1s infinite;
}

.portadaSection .infoArea .textArea .aboutMe {
  display: none;
  width: 800px;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  white-space: inherit;
  overflow: initial;
  opacity: 0;
  color: #ff8062;
  text-shadow: 0 0 5px #fff;
  animation: appear 0.5s 6s forwards;
}

.portadaSection .socialMedia {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 40px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: absolute;
  top: 125px;
  left: 20px;
  z-index: 2;
}

@media (min-width: 768px) {
  .portadaSection .socialMedia {
    width: 150px;
    justify-content: space-evenly;
  }
}

.portadaSection .socialMedia i {
  color: #fff;
  font-size: 16px;
}

.portadaSection .socialMedia i:hover {
  color: #5bcef2;
}

.portadaSection .scrollDown {
  position: absolute;
  color: #fff;
  bottom: 120px;
  left: calc(50% - 58px);
  animation: updown 2s alternate-reverse ease-in-out infinite;
  z-index: 2;
  cursor: pointer;
}

.portadaSection .scrollDown span {
  font-family: "Poppins", sans-serif;
  user-select: none;
}

.skillsSection {
  padding: 40px;
}

.skillsSection .title {
  margin: 0 auto;
  position: relative;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillsSection .title h2 {
  color: #fff;
  font-weight: normal;
  letter-spacing: 5px;
}

.skillsSection .title > div {
  position: absolute;
}

.skillsSection .title > div.sq-o1 {
  top: 0;
  left: 0;
  z-index: -3;
}

.skillsSection .title > div.sq-s1 {
  top: 10px;
  right: 0;
  z-index: -1;
}

.skillsSection .title > div.sq-o2 {
  bottom: 0;
  left: 75px;
  z-index: -2;
}

.skillsSection .skillsTable {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.skillsSection .skillsTable .skillsSections {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40px;
  border-right: 2px solid #fff;
}

.skillsSection .skillsTable .skillsSections li {
  padding: 6px 0;
  font-size: 14px;
  width: 35px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  line-height: 17px;
  cursor: pointer;
}

.skillsSection .skillsTable .skillsSections li.skSelected {
  color: #040330;
  background-color: #fff;
}

.skillsSection .skillsTable .skillsSections li:first-child {
  border-bottom: 1px solid #fff;
}

.skillsSection .skillsTable .skillsSections li:nth-child(3) {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.skillsSection .skillsTable .skillsUl {
  padding: 10px 0;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.skillsSection .skillsTable .skillsUl.ulSelected {
  display: flex;
}

.skillsSection .skillsTable .skillsUl li p {
  color: #fff;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.skillsSection .skillsTable .skillsUl li:first-child .rangeColor, .skillsSection .skillsTable .skillsUl li:nth-child(4) .rangeColor {
  background-color: #5bcef2;
}

.skillsSection .skillsTable .skillsUl li:nth-child(2) .rangeColor, .skillsSection .skillsTable .skillsUl li:nth-child(5) .rangeColor {
  background-color: #ff8062;
}

.skillsSection .skillsTable .skillsUl li:nth-child(3) .rangeColor, .skillsSection .skillsTable .skillsUl li:nth-child(6) .rangeColor {
  background-color: #f1b170;
}

.skillsSection .skillsTable .skillsUl.designSkills, .skillsSection .skillsTable .skillsUl.langSkills {
  justify-content: flex-start;
}

.skillsSection .skillsTable .skillsUl.designSkills li, .skillsSection .skillsTable .skillsUl.langSkills li {
  margin-bottom: 36px;
}

.skillsSection > span {
  display: block;
  margin: 50px auto;
  color: #fff;
  text-align: center;
}

.range {
  width: 220px;
  height: 8px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.range .rangeBG {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

.range .rangeColor {
  position: absolute;
  height: 100%;
  border-radius: 25px;
}

.range .rangeColor.r100 {
  width: 100%;
}

.range .rangeColor.r90 {
  width: 90%;
}

.range .rangeColor.r80 {
  width: 80%;
}

.range .rangeColor.r70 {
  width: 70%;
}

.range .rangeColor.r60 {
  width: 60%;
}

.range .rangeColor.r50 {
  width: 50%;
}

.range .rangeColor.r40 {
  width: 40%;
}

.range .rangeColor.r30 {
  width: 30%;
}

.range .rangeColor.r10 {
  width: 10%;
}

.proyectsSection .title {
  margin: 0 auto;
  position: relative;
  width: 240px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proyectsSection .title h2 {
  color: #040330;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 30px;
  position: relative;
  z-index: 5;
}

.proyectsSection .title > div {
  position: absolute;
}

.proyectsSection .title > div.sq-w1 {
  top: 40px;
  left: 0;
  z-index: 2;
}

.proyectsSection .title > div.sq-o1 {
  top: 0px;
  right: 0;
  z-index: 4;
  width: 180px;
  height: 180px;
}

.proyectsSection .title > div.sq-b1 {
  bottom: 5px;
  left: 30px;
  z-index: 3;
}

.proyectsSection .clipDiv {
  clip-path: polygon(0 7%, 100% 0, 100% 93%, 0% 100%);
  background-color: #5bcef2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%2375d5f1' fill-opacity='1' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  overflow: hidden;
  margin-top: -130px;
  position: relative;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proyectsSection .clipDiv .proyectsGallery {
  position: relative;
  z-index: 2;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.proyectsSection .clipDiv .proyectsGallery .proyectsUl {
  display: flex;
  overflow: auto;
  width: 95%;
}

.proyectsSection .clipDiv .proyectsGallery .proyectsUl::-webkit-scrollbar {
  display: none;
}

.proyectsSection .clipDiv .proyectsGallery .proyectsUl li {
  position: relative;
  min-width: 250px;
  padding: 20px;
  margin: 0 20px;
  background-color: #fff;
  border-radius: 25px;
  height: 350px;
  cursor: pointer;
}

.proyectsSection .clipDiv .proyectsGallery .proyectsUl li img {
  width: 200px;
  min-height: 120px;
  object-fit: cover;
}

.proyectsSection .clipDiv .proyectsGallery .proyectsUl li h4 {
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid #5bcef2;
}

.proyectsSection .clipDiv .proyectsGallery .proyectsUl li .techUsed {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 20px;
}

.proyectsSection .clipDiv .proyectsGallery .proyectsUl li .techUsed p {
  margin: 0 5px;
  color: #555;
  text-decoration: underline;
}

.proyectsSection .clipDiv .proyectsGallery .proyectsUl li::after {
  content: "Click to see more";
  position: absolute;
  bottom: 20px;
  display: block;
  text-align: center;
  width: 100%;
  left: 0;
  font-size: 14px;
}

.proyectsSection .clipDiv .proyectsGallery .proyectsUl li.cardDescActive .proyectDetails {
  display: flex;
}

.proyectsSection .clipDiv .proyectsGallery .proyectsUl li.cardDescActive::after {
  display: none;
}

.proyectsSection .clipDiv .proyectsGallery .proyectsUl li .proyectDetails {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  right: 0;
  top: 0;
  border-radius: 25px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
}

.proyectsSection .clipDiv .proyectsGallery .proyectsUl li .proyectDetails p {
  font-size: 13px;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}

.proyectsSection .clipDiv .proyectsGallery .proyectsUl li .proyectDetails h6 {
  width: 100%;
  font-size: 1em;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid #5bcef2;
}

.proyectsSection .clipDiv .proyectsGallery .proyectsUl li .proyectDetails > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.proyectsSection .clipDiv .proyectsGallery .proyectsUl li .proyectDetails > div a {
  color: #5bcef2;
  text-decoration: underline;
}

.proyectsSection .clipDiv .proyectsGallery .arrows {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  position: absolute;
  width: 100%;
  bottom: -50px;
}

.proyectsSection .clipDiv .proyectsGallery .arrows i {
  font-size: 24px;
  color: #fff;
}

.contactSection {
  padding-top: 100px;
}

.contactSection .title {
  margin: 0 auto;
  width: 200px;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactSection .title h2 {
  color: #fff;
  font-weight: normal;
  letter-spacing: 3px;
  margin-top: 10px;
  position: relative;
  z-index: 2;
}

.contactSection .title > div {
  position: absolute;
}

.contactSection .title > div.sq-s1 {
  bottom: 0;
  left: 0;
  width: 130px;
  height: 130px;
}

.contactSection .title > div.sq-o1 {
  right: 0;
  top: 25px;
  width: 100px;
  height: 100px;
}

.contactSection .title > div.sq-o2 {
  top: 0;
  left: 80px;
}

.contactSection .form {
  color: #fff;
  padding: 80px 50px 50px;
  display: flex;
  flex-direction: column;
}

.contactSection .form h5 {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 3px;
}

.contactSection .form input {
  height: 30px;
  margin: 10px 0 20px;
  padding: 0 10px;
  font-size: 14px;
}

.contactSection .form label {
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
}

.contactSection .form textarea {
  margin: 10px 0 20px;
  padding: 10px;
  font-size: 14px;
}

.contactSection .form .btnsSection {
  align-self: flex-end;
}

.contactSection .form .btnsSection .button {
  width: 100px;
  height: 30px;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  letter-spacing: 3px;
}

.contactSection .form .btnsSection .button:first-child {
  color: #fff;
}

.contactSection .form .btnsSection .button:last-child, .contactSection .form .btnsSection .button:nth-child(2) {
  background-color: #fff;
}

.contactSection .form .btnsSection a {
  display: none;
}

.contactSection .form .btnsSection.confirmed .button:nth-child(2) {
  display: none;
}

.contactSection .form .btnsSection.confirmed a {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  color: #040330;
  animation: shine 0.5s infinite;
}

.contactSection img {
  display: block;
  margin: 0 auto;
  clip-path: circle(50% at 50% 50%);
  object-fit: cover;
}

footer {
  height: 400px;
  padding: 50px 0;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  text-align: center;
  background-color: #ff8062;
}

footer hr {
  width: 80px;
  height: 2px;
  background-color: #fff;
}

footer h6 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: normal;
}

footer div p:first-child {
  margin-bottom: 20px;
}

footer .socialMedia {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
}

footer .socialMedia a {
  color: #fff;
  text-decoration: none;
}

footer a {
  color: #fff;
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */